fastapi==0.115.6
opencv-python-headless==4.10.0.84
pydantic==2.10.1
ray[serve]==2.40.0
requests==2.32.3
ultralytics==8.3.51
python-multipart==0.0.20
uvicorn==0.32.1
gdown
scikit-learn
pygments
timm
streamlit==1.40.2
vietocr
pyyaml
numpy<2
openpyxl
pandas
pillow
torch
torchvision
